body{
	margin: 0px;
	padding: 0px;
	background-color:#cecec6;
}
/*inicio de los estilos del navbar*/
#logo{
	font-size: 30px;
}
#logo:hover{
	font-weight: bold;
	font-variant: small-caps;
	background: #ccc; color: black; box-shadow: 10px 10px 10px rgba(0, 0, 250, 0.4);
	-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.5,1.5); -ms-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5); transform: scale(1.5,1.5); -webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear; -o-transition: all .8s linear; transition: all .8s linear; 
}
ul{
	background-color:#22c91a;
}
li{
	display: inline-block;
	padding: 30px;
	list-style: none;
}
a{
	text-decoration: none;
	border-radius:10px;
	padding: 2px 5px 5px 5px;
	font-size: 25px;
	color: white;
}
a:hover{
	background-color:#ffff00;
	color:black;
	font-weight: bolder;
}

/*fin de los estilos de navbar*/
/*estilos de las imagenes*/

.imagenesPandas{
	display:inline-block;
	margin-left:60px;
}
img{
	padding: 5px;
	margin: 5px;
	width: 220px;
	height: 200px;
	border-radius: 65%;
	border:10px solid #7c1910;
}
/*fin estilos de las imagenes*/
/*estilos barras */
.barras{
	text-align: center;
	display: inline-block;
	padding-left:15px;
	margin-top: 20px;
	margin-left:100px;
	background-color:#ff7afc;
	width: 300px;
	border-radius: 30px;
}
.barras:hover{
	font-size:20px;
}
/*fin estilos barras*/

/*estilos textos*/
.textos{
	display: inline-block;
	width: 450px;
	height: 100px;
	padding: 10px;
	margin-top: 50px;
	margin-left:100px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: justify;
}
/*fin estilos*/
/*taches*/
.cerrar{
	display: inline-block;
	width: 270px;
	text-align: right;
	font-size: 20px;
	font-weight: bolder;
}
.cerrar:hover{
	background-color:red;
}
/*fin taches*/