body{
	margin: 0px;
	padding: 0px;
	background-color:#cecec6;
}
/*inicio de los estilos del navbar*/
span{
	font-size: 30px;
}
span:hover{
	font-weight: bold;
	font-variant: small-caps;
	background: #ccc; color: black; box-shadow: 10px 10px 10px rgba(0, 0, 250, 0.4);
	-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.5,1.5); -ms-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5); transform: scale(1.5,1.5); -webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear; -o-transition: all .8s linear; transition: all .8s linear; 
}
ul{
	background-color:#22c91a;
}
li{
	display: inline-block;
	padding: 30px;
	list-style: none;
}
a{
	text-decoration: none;
	border-radius:10px;
	padding: 2px 5px 5px 5px;
	font-size: 25px;
	color: white;
}
a:hover{
	background-color:#ffff00;
	color:black;
	font-weight: bolder;
}

/*fin de los estilos de navbar*/
/*estilos de las imagenes*/
#imagenes{
	display: block;
	/*background-color:#cf71f7;*/

}
.imagenesPandas{
	display: inline;
	margin-left: 50px;
}
img{
	margin: 10px 25px 10px 25px;
	width: 200px;
	height: 200px;
	border:15px solid #7c1910;
}
/*fin estilos de las imagenes*/